{% extends "core/base.html" %}
{% load static %}
{% block content %}

<div class="d-flex justify-content-center bg-light border rounded p-4 m-3 flex-column">
    
    <div class="d-flex m-3">
        <h2>Profile</h2> 
    </div>
    
    <!-- Vertical aligment-->

    <ul class="list-group-flush justify-content-center p-3 m-3">
        <li class="list-group-item list-group-item-light">login UNIANDES: {{ user.username }}</li>
        <li class="list-group-item">Name: {{ user.first_name }}, {{ user.last_name }}.</li>

        <li class="list-group-item">Bachelor: {{ user.info.bachelor }}</li>
    </ul>
    
</div>

{% endblock %}