<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="icon"
    href="https://cdn.discordapp.com/attachments/1336038496128864367/1371216226289979614/study-crew.png?ex=68225420&is=682102a0&hm=dc112cee952f2b07a427cea96b19106a73e843944d039792d778f7c93420a641&">

    {% if title %}
        <title>StudyCrew - {{ title }}</title>
    {% else %}
        <title>StudyCrew</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
          <a class="navbar-brand flex-column" href="{% url 'landing' %}">
            <img 
            class="rounded-circle justify-content-center" 
            src="https://cdn.discordapp.com/attachments/1336038496128864367/1371216226289979614/study-crew.png?ex=68225420&is=682102a0&hm=dc112cee952f2b07a427cea96b19106a73e843944d039792d778f7c93420a641&"
            width="40" height="40" alt="logo">
            </img> 
            <h4>StudyCrew</h4>
          </a>  
          
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link " href="{% url 'info-profile' %}">Profile</a>
              <a class="nav-item nav-link " href="{% url 'contacts-friends' %}">Friends</a>
            </div>

            <!-- Navbar Center-->
            <div class="navbar-nav mx-auto">
              <a class="nav-item nav-link " href="{% url 'student-search' %}">Search Students</a>
            </div>

            <!-- Navbar Right Side -->
            <div class="navbar-nav">

                {% if user.is_authenticated %}
                    <span class="navbar-text justify-content-left p-3">{{ user.first_name }}</span>
                    <p class="navbar-text pt-3">|</p>
                    <form class="nav-item nav-link p-3" method="post" action="{% url 'info-logout' %}">
                        {% csrf_token %}
                        <button class="btn btn-primary btn-outline-error" type="submit">Log out</button>
                    </form>
                {% else %}
                    <a class="nav-item nav-link" href="{% url 'info-login' %}">Login</a>
                    <a class="nav-item nav-link" href="{% url 'info-register' %}">Register</a>
                {% endif %}

              
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-12">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags}}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>

</body>
</html>